<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="user_signup.css">
    </head>
    <body>
        <div class="sign-up">
            <h2>EAT. LEARN. SIGN UP.</h2>
        </div>
        <% if flash[:messages] %>
            <h4><%= "There's a problem." %></h4>
            <% flash[:messages].each do |msg| %>
            <ul>
                <li><%= msg %></li><br>
            </ul>
            <% end%>
        <% end %>
        <div class="form">
            <%= form_for @user do |f| %>
                <%= f.label :username%>:  <br>
                <%= f.text_field :username %><br>
                <%= f.label "Password:" %><br>
                <%= f.password_field :password %><br>
                <%= f.submit "Sign Up" %>
            <% end %>
        </div>
    </body>
</html>

