<head>
    <link rel="stylesheet", type="text/css", href="new_form.css">
</head>
<header>
    <div class="header-image" style="background-image: url(/assets/<%=@dish.image_url%>);">
        <div class="header-text">
            <h1><%=@dish.name%></h1>
            <p><%= @dish.description%></p>
        </div>
    </div>
</header>
<div class="form">
    <%= form_for @dish do |f| %>
    <input type="hidden" name="dish" value="<%=@dish.save ? @dish.id : nil %>">
       
        <fieldset>
            <legend>Choose Your Protein:</legend>
            
            <% @proteins.each do |protein| %>
                <%= f.label protein.name %><br>
                $<%= protein.price %><br>
                <input type="radio" name="ingredient[protein]" value="<%= protein.id %>" required><br>
            <% end %>
        </fieldset>
      <hr>
        <fieldset>
            <legend>Choose Your Grain: </legend>
                <% @grains.each do |grain| %>
                    <%= f.label grain.name %><br>
                    <%= "$#{grain.price}" if grain.greater_than_zero? %>
                    <input type="radio" name="ingredient[grain]" value="<%= grain.id %>"><br>   
                <% end %>
        </fieldset>
        <hr>
        <fieldset>
            <legend>Le Bean?</legend>
                <% @beans.each do |bean| %>
                    <%= f.label bean.name %><br>
                    <%= "$#{bean.price}" if bean.greater_than_zero? %>
                    <input type="radio" name="ingredient[bean]" value="<%= bean.id %>"><br>
                <% end %>
        </fieldset>
        <hr>
        <fieldset>
            <legend>Toppings?</legend>
            <%= f.fields_for @toppings do |t| %>
                <% @toppings.each do |topping| %>
                    <%= t.label topping.name %>
                    <%= "$#{topping.price}" if topping.greater_than_zero? %>
                    <input type="checkbox" name="ingredient[toppings][<%= topping.name %>]" value="<%=topping.id%>"><br>
                <% end %>
            <% end %>
        </fieldset>

        

        <%= f.submit "Order!" %>
    <% end %>
    
</div>