<!DOCTYPE html>
<html>
  <head>
    <title>Chipotle Mexican Grill</title>
    <%= favicon_link_tag 'favicon-96x96.png'%>
    <!--<link rel="icon" type="image/x-icon" href="../../assets/images/favicon.ico">-->
    <link rel="stylesheet" type="text/css" href="orderpage.css">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
            <header class="order-banner">
                <% if session[:username] %>
                  <strong><%= "Hey #{session[:username]}!" %></strong>
                  <%= link_to "logout", "/logout", {class: "logout"} %>
                <% else%>
                  <a href="/login/new"><%= image_tag("sign-in.png") %></a>
                <% end %>
                <a href="/"><%= image_tag("chipotle-logo-2.png")%></a>
                <% if session[:username] %>
                    <% @user = User.find_by(username: session[:username])%>
                    <a href="/bags/<%=@user.bag.id%>"><%=@user.bag.dish_bags.count %> <%= image_tag("my-bag.png")%></a>
                <% end %>
                
            </header>
        </div>
    <%= yield %>
  </body>
</html>
